{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include 'partial/search.html' %}
    <h1>Photos</h1>
    <div class="container col-8 m-auto">
        {% for photo in photos %}
        <div class="card col-8 m-auto">
            <img class="card-img-top" src="uploads/{{ photo.photo }}" alt="{{ photo.caption }}">
            <div class="card-body">
            <h5 class="card-title">{{ photo.author }}</h5>
            <p class="card-text">{{ photo.caption }}</p>
            <a href="{% url 'photo_detail' photo.pk %}" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}


