{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include 'partial/search.html' %}
    <h1>Photos</h1>

    <div id="photos">
        {% for photo in photos %}
        <h2>{{ photo.title }}</h2>
        <h2>{{ photo.text }}</h2>
        <p>
            <a href="{% url 'photo_detail' photo.pk %}">Подробнее...</a>
        </p>
        <p>Favorite count {{ photo.users.count }}</p>
        {% if user.is_authenticated %}
            <form action="{% url 'to_favorite' photo.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form favorite_form %}
                {% bootstrap_button button_type="submit" content='Добавить в избранное' %}
            </form>
        {% endif %}
    {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
