{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
{% for photo in photos %}
    <div class="container m-auto">
        <div class="card col-8 m-auto">
            <img class="card-img-top" src="../../uploads/{{ photo.photo }}" alt="{{ photo.caption }}">
            <div class="card-body">
                <h5 class="card-title">Автор: {{ photo.author }}</h5>
                <p class="card-text">Подпись: {{ photo.caption }}</p>
                <p class="card-text">Дата создания: {{ photo.created_at }}</p>
                <p class="card-text">Дата обновления: {{ photo.updated_at }}</p>
            <a href="{% url 'photo_detail' photo.pk %}" class="btn btn-primary">Подробнее...</a>
            </div>
        </div>

        {% if perms.webapp.photo or photo.author == request.user %}
            <p><a href="{% url 'photo_update' photo.pk %}" class="btn btn-success">Update</a></p>
        {% endif %}
        {% if perms.webapp.delete_photo or photo.author == request.user %}
            <p><a href="{% url 'photo_delete' photo.pk %}" class="btn btn-danger">Delete</a></p>
        {% endif %}
    </div>
{% empty %}
    <h2 class="text-center">Нет фото</h2>
{% endfor %}
{% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}

